body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #e5e7eb;
}

header {
    text-align: center;
    padding: 40px;
    background: #020617;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background: #020617;
    padding: 10px;
}

nav a {
    color: #38bdf8;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 40px;
}

.card {
    background: #020617;
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
}

.card a {
    color: #38bdf8;
}

iframe {
    margin: 10px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}